/* Copyright (c) 2013-2020 Texas Instruments Incorporated.  All rights reserved. */

/* Styling for the entire document. */
body
{
    background-color: white;
    color: black;
    font-family: Ariel,Helvetica,sans-serif;
}

/* Styling for the heading div. */
#heading
{
    clear: both;
    margin-bottom: 10px;
}

#heading_h1
{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#heading_h2
{
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

#heading hr
{
    border-bottom: 1px solid #ff0000;
    border-top: 1px solid #ff0000;
}

#heading a img
{
    border: 0;
}

/* Styling for the menu div. */
#menu
{
    float: left;
    margin-bottom: 10px;
    width: 225px;
}

#menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu a:link, #menu a:visited
{
    background-color: #ff0000;
    color: #ffffff;
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

#menu a:hover, #menu a:active
{
    background-color: #bf0000;
}

/* Styling for the content div. */
#content
{
    margin-bottom: 10px;
    margin-left: 225px;
}

#content_heading
{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#plotMCA
{
    margin-bottom: 10px;
    margin-left: 225px;
}

#plotSCA
{
    margin-bottom: 10px;
    margin-left: 225px;
}

#final-countdown
{
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    margin-top: 10px;
}


/* Styling for the footing div. */
#footing
{
    clear: both;
    font-size: .75em;
    font-style: italic;
    text-align: right;
}

#footing hr
{
    border-bottom: 1px solid #ff0000;
    border-top: 1px solid #ff0000;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #bf0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.numIn input {
    text-align: center;
    height: 30px;
    font-size: 12pt;
    border: 1px solid #ff0000;
    border-radius: 4px;
}

.button {
    border: none;
    color: #ffffff;
    background-color: #ff0000;
    padding: 10px;
    opacity: 0.6;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 250px;
}
